.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

header {
  background-color: #191c21;
  width: 100vw;
  padding: 10px;
  margin-bottom: 20px;
}

.HomeDiv {
 display: contents;
}

.App h1 {
  color: #61dafb;
  margin: 20px;
}

p {
  font-size: calc(5px + 2vmin);
}

.create-note-Title {
  margin-top: 30px;
}

.list-all-notes-title {
  margin-top: 20px;
}

.date {
  font-size: calc(5px + 1vmin);
  margin: 0;
}

.completionStatus {
  display: flex;
  justify-content: center;
}

.completionStatus input {
  margin-bottom: 15px;
  margin-left: 11px;
}

.completionStatus p {
  font-size: calc(5px + 1vmin);
}

.Note {
  background-color: #1b1f24;
  padding: 10px;
  padding-bottom: 15px;
  width: 45vw;
  margin: 8px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;   /* for minimize button to be in corner */
}

.Note h2 {
  color: #61dafb;
}

.Note form {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.Note label {
  margin-top: 5px;
}

.Note input[name="title"], [name="description"] {
  width: 20vw;
}

.Note input[name="dueDate"] {
  width: 150px;
}

.noteDescription  {
  font-size: calc(5px + 1.5vmin);
  font-style: italic;
}

.Note Button {
  margin-top: 10px;
}

.due-date-container {
  margin-top: 10px;
  margin-right: 70px;
}
.due-date-container label {
  margin-right: 10px;
}

.completed-container label {
  margin-right: 10px;
}

.minimize-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
